<p id="notice"><%= notice %></p>

<p style="border: 1px solid #345; font-size: 20px; padding:15px; border-radius: 10px; background-color: rgba(42, 55, 70, 0.35)">
  <%= @userdare.name %>
</p>

<p>
  <%= @userdare.user.email %> | <%= link_to 'Edit', edit_userdare_path(@userdare) %> 
</p>

<div id="comment_list" >
  <%= render partial: 'comment_list', locals: {comments: @comments}  %>
</div>

<p>
  <%= render '/comments/form', comment: @comment %>
</p>

