<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @userdare.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @userdare.user_id %>
</p>

<%= link_to 'Edit', edit_userdare_path(@userdare) %> |
<%= link_to 'Back', userdares_path %>
