<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<p>
  <strong>Userdare:</strong>
  <%= @vote.userdare_id %>
</p>

<p>
  <strong>Vote up or down:</strong>
  <%= @vote.vote_up_or_down %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
